
.cardList {
    padding: 70px 70px 0;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 38px;
    grid-column-gap: 20px;
    justify-content: center;
}

.cardList__more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px 80px;
}

.cardList__moreButton {
    padding: 11px 148px 9px;
    background-color: transparent;
    border: 1px solid var(--divider-gray);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 320px;
}

@media screen and (max-width: 1023px) {
    .cardList {
        padding: 70px 30px 0;
        grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .cardList {
        padding: 40px 10px 0;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-row-gap: 34px;
        grid-column-gap: 30px;
    }
    
    .cardList__moreButton {
        padding: 11px 20px 9px;
        background-color: transparent;
        border: 1px solid var(--divider-gray);
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        max-width: 240px;
    }
}
