.main__hero {
    grid-area: header;
    flex-grow: 0;
    width: 100%;
}

.main__content {
    grid-area: main;
    width: 100%;
    flex-grow: 1;
}


.main__footer {
    grid-area: footer;
    width: 100%;
    flex-grow: 0;
}
