.profile__header {
    grid-area: header;
    width: 100%;
    flex-grow: 0;
}

.profile__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 30px 70px;
    flex-grow: 1;
    row-gap: 210px;
    
    justify-content: space-between;
}

.profile__footer {
    grid-area: footer;
    width: 100%;
    flex-grow: 0;
}

.profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}


.profile__greeting {
    margin: 0 0 123px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    flex-grow: 1;
}

.profile__fieldset {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    column-gap: 32px;
}

.profile__divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-gray);
    margin: 17px 0;
}

.profile__inputName {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__input {
    display: block;
    border: none;
    text-align: right;
    outline: none;
    width: 100%;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-weight .1s ease;
}

.profile__input:focus-within {
    font-weight: 900;
}

.profile__buttonWrapper {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile__button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    text-align: center;
}

.profile__button_type_edit {
    margin-bottom: 16px;
}

.profile__button_type_logout {
    color: var(--accent-red);
}

@media screen and (max-width: 1023px) {
    .profile__main {
        padding: 236px 30px 70px;
    }
    
    .profile__greeting {
        margin: 0 0 96px 0;
    }
}

@media screen and (max-width: 767px) {
    .profile__main {
        padding: 70px 30px 40px;
        max-height: 100%;
        flex-grow: 1;
    }
    
    .profile__greeting {
        margin: 0 0 80px 0;
    }
}
