.layout {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  /*display: grid;*/
  /*grid-template-rows: min-content 1fr min-content;*/
  /*grid-template-columns: 70px 1fr 70px;*/
  /*grid-template-areas:*/
  /*    ". header ."*/
  /*    ". main ."*/
  /*    ". footer .";*/
}


@media screen and (max-width: 1279px) {
  .layout {
    grid-template-columns: 30px 1fr 30px;
  }
}

@media screen and (max-width: 767px) {
  .layout {
    grid-template-columns: 14px 1fr 14px;
  }
}
