
.signIn__main {
    grid-area: main;
    padding: 70px 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 396px;
}

.signIn__logo {
    margin-bottom: 40px;
}

.signIn__greeting {
    flex-grow: 0;
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.signIn__buttonWrapper {
    display: block;
    padding-top: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-gray);
}


.signIn__link {
    text-decoration: none;
    color: var(--accent-green);
}

@media screen and (max-width: 1023px) {
    .signIn__main {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .signIn__main {
        flex-grow: 1;
        padding: 56px 30px 30px;
    }
    
    .signIn__wrapper {
        align-items: center;
    }
    
    
    .signIn__greeting {
        margin: 0 0 80px 0;
    }
}
