.movies__header {
    grid-area: header;
    width: 100%;
    flex-grow: 0;
}

.movies__main {
    grid-area: main;
    width: 100%;
    flex-grow: 1;
}

.movies__footer {
    grid-area: footer;
    width: 100%;
    flex-grow: 0;
}

.movies__error {
    max-width: 600px;
    padding: 10px 70px 70px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    text-align: center;
    color: var(--accent-red);
}

@media screen and (max-width: 1023px) {
    .movies__error {
        padding: 10px 30px 70px;
    }
}

@media screen and (max-width: 767px) {
    .movies__error {
        max-width: 100%;
        padding: 10px 10px;
    }
}
