.savedMovies__header {
    grid-area: header;
    width: 100%;
    flex-grow: 0;
}

.savedMovies__main {
    grid-area: main;
    width: 100%;
    flex-grow: 1;
}

.savedMovies__footer {
    grid-area: footer;
    width: 100%;
    flex-grow: 0;
}
